In [6]:
import pandas as pd

In [7]:
cleaned_spatial = pd.read_csv('f_merged_cleaned.csv')
cleaned_spatial

,HCHO_Amount,Location,Present_Date,Next_Date,Month,Average Temperature(°C),Year,Unemployment Rate,Tree Cover Loss (ha)
0,0.000006,Matara,2019-01-02,2019-01-03,January,25.8,2019,7.5,263
1,0.000236,Matara,2019-01-03,2019-01-04,January,25.8,2019,7.5,263
2,0.000064,Matara,2019-01-04,2019-01-05,January,25.8,2019,7.5,263
3,0.000053,Matara,2019-01-05,2019-01-06,January,25.8,2019,7.5,263
4,0.000132,Matara,2019-01-06,2019-01-07,January,25.8,2019,7.5,263
...,...,...,...,...,...,...,...,...,...
7268,0.000116,Kandy,2023-12-07,2023-12-08,December,22.4,2023,7.0,207
7269,0.000261,Kandy,2023-12-11,2023-12-12,December,22.4,2023,7.0,207
7270,0.000114,Kandy,2023-12-21,2023-12-22,December,22.4,2023,7.0,207
7271,0.000116,Kandy,2023-12-23,2023-12-24,December,22.4,2023,7.0,207
7272,0.000056,Kandy,2023-12-30,2023-12-31,December,22.4,2023,7.0,207

In [8]:
cleaned_spatial.drop('HCHO_Amount',axis=1, inplace=True)
cleaned_spatial.drop('Present_Date',axis=1, inplace=True)
cleaned_spatial.drop('Next_Date',axis=1, inplace=True)

In [10]:
cleaned_spatial.to_csv('final_merged_cleaned_spatial.csv', index=False)